.neon {
    animation: neonAnim 2s alternate-reverse infinite;
    color: #00FFE3;
    font-family: Bahnschrift;
    font-size: 72px;
}
@keyframes neonAnim {
    from {
        text-shadow:
          0 0 10px rgba(0, 255, 227, .7),
          0 0 40px rgba(0, 255, 227, .7),
          0 0 100px rgba(0, 255, 227, .7);
      }
      to {
        text-shadow:
          0 0 5px rgba(0, 255, 227, .7),
          0 0 20px rgba(0, 255, 227, .7),
          0 0 60px rgba(0, 255, 227, .7);
      }
}
